In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'sklearn'

In [5]:
iris_bunch = load_iris()

print(iris_bunch.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [6]:
iris_bunch.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [7]:
iris_df = pd.DataFrame(data=iris_bunch.data, columns=iris_bunch.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
iris_df["class"] = iris_bunch.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
X = iris_df.drop("class", axis=1)
y = iris_df["class"]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=21)

In [11]:
print(f"shape of X_train : {X_train.shape}")
print(f"shape of X_test :{X_test.shape}")
print(f"shape of y_train :{y_train.shape}")
print(f"shape of y_test :{y_test.shape}")

shape of X_train : (120, 4)
shape of X_test :(30, 4)
shape of y_train :(120,)
shape of y_test :(30,)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
logestic_model = LogisticRegression()

In [14]:
logestic_model.fit(X_train,y_train)

LogisticRegression()

In [21]:
y_test_pred = logestic_model.predict(X_test)
print(y_test_pred)
print(list(y_test))

[1 0 0 0 1 1 0 2 0 0 1 1 2 2 0 2 2 1 0 2 2 1 2 1 0 1 0 0 1 2]
[1, 0, 0, 0, 1, 1, 0, 2, 0, 0, 1, 1, 2, 2, 0, 1, 2, 1, 0, 2, 2, 1, 1, 1, 0, 1, 0, 0, 1, 2]

In [22]:
import pickle

In [23]:
# with open("logesticReg.pkl","wb") as file:
#     pickle.dump(logestic_model, file)

In [25]:
iris_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'class'],
      dtype='object')

In [27]:
iris_df.tail(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
149,5.9,3.0,5.1,1.8,2

In [34]:
user_input = np.zeros(len(X.columns))
user_input[0] = input("enter the value of sepal length in cm: ")
user_input[1] = input("enter the value of sepal width in cm: ")
user_input[2] = input("enter the value of petal length in cm: ")
user_input[3] = input("enter the value of petal width in cm: ")
result = logestic_model.predict([user_input])

if result == [0]:
    print(f"iris specie is setosa")
elif result == [1]:
    print(f"iris specie is verginica")
else:
    print(f"iris specie is vercicolor")

enter the value of sepal length in cm: 5.9
enter the value of sepal width in cm: 3.0
enter the value of petal length in cm: 5.1
enter the value of petal width in cm: 1.8

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

iris specie is vercicolor

# KNN algorithm

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
knn_model = KNeighborsClassifier(n_neighbors=4)

In [11]:
knn_model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [12]:
y_test_pred_knn = knn_model.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score

print("The accuracy score of the KNN model on test data is:")
print(accuracy_score(y_test, y_test_pred_knn))

The accuracy score of the KNN model on test data is:
0.9666666666666667

In [14]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_test_pred_knn))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.92      0.96        12
           2       0.88      1.00      0.93         7

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

# Naive Bays Classifire

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
gnb_model = GaussianNB()

In [17]:
gnb_model.fit(X_train, y_train)

GaussianNB()

In [18]:
y_test_pred_gnb = gnb_model.predict(X_test)

In [19]:
print(classification_report(y_test, y_test_pred_gnb))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.92      0.96        12
           2       0.88      1.00      0.93         7

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

# Decision tree classifier

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
dt_model = DecisionTreeClassifier(max_depth=2)

dt_model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

In [22]:
y_test_pred_dt = dt_model.predict(X_test)
y_train_pred_dt = dt_model.predict(X_train)

In [23]:
print("the accuracy score of the decision tree model on test data set is:")
print(accuracy_score(y_test,y_test_pred_dt))

the accuracy score of the decision tree model on test data set is:
0.8333333333333334

In [24]:
print("the accuracy score of the decision tree model on train data set is:")
print(accuracy_score(y_train,y_train_pred_dt))

the accuracy score of the decision tree model on train data set is:
0.975

this indicates that decision tree is overfitting on training dataset

# SVM

on original dataste (without sampling)

In [25]:
from sklearn.svm import SVC

In [26]:
svc_model = SVC(kernel="linear")

In [27]:
svc_model.fit(X_train,y_train)

SVC(kernel='linear')

In [28]:
y_test_pred_svc = svc_model.predict(X_test)
y_train_pred_svc = svc_model.predict(X_train)

In [29]:
print("the accuracy score of the SVC model on test data set is:")
print(accuracy_score(y_test,y_test_pred_svc))
print("=========================================================")
print("the accuracy score of the SVC model on train data set is:")
print(accuracy_score(y_train,y_train_pred_svc))

the accuracy score of the SVC model on test data set is:
0.9666666666666667
=========================================================
the accuracy score of the SVC model on train data set is:
0.9916666666666667

# Boosting

In [30]:
from sklearn.ensemble import AdaBoostClassifier

In [31]:
ada_model = AdaBoostClassifier(n_estimators=80)
ada_model.fit(X_train,y_train)

y_test_pred_ada = ada_model.predict(X_test)
y_train_pred_ada = ada_model.predict(X_train)

In [32]:
print("the accuracy score of the ada model on test data set is:")
print(accuracy_score(y_test,y_test_pred_ada))
print("=========================================================")
print("the accuracy score of the ada model on train data set is:")
print(accuracy_score(y_train,y_train_pred_ada))

the accuracy score of the ada model on test data set is:
0.9333333333333333
=========================================================
the accuracy score of the ada model on train data set is:
0.9916666666666667

In [33]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\adihi\appdata\roaming\python\python39\site-packages (1.7.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.3)

In [34]:
import xgboost as xgb

In [35]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test)

In [36]:
param = {"objective":"multi:softmax", "num_class":3}

In [37]:
xgb_model = xgb.train(param, D_train)

In [38]:
y_test_pred_xgboost = xgb_model.predict(D_test)

In [39]:
print("the accuracy score of the xgb model on test data set is:")
print(accuracy_score(y_test,y_test_pred_xgboost))

the accuracy score of the xgb model on test data set is:
0.9333333333333333

In [40]:
from xgboost.sklearn import XGBClassifier

In [41]:
xgb_clf_model = XGBClassifier(objective="multi:softmax",num_class = 3,max_depth=2)

In [42]:
xgb_clf_model.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=2, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_class=3,
              num_parallel_tree=None, objective='multi:softmax', ...)

In [43]:
y_test_pred_xgb = xgb_clf_model.predict(X_test)
y_train_pred_xgb = xgb_clf_model.predict(X_train)

In [44]:
print("the accuracy score of the xgb model on test data set is:")
print(accuracy_score(y_test,y_test_pred_xgb))

the accuracy score of the xgb model on test data set is:
0.9333333333333333

In [45]:
print("the accuracy score of the xgb model on train data set is:")
print(accuracy_score(y_train,y_train_pred_xgb))

the accuracy score of the xgb model on train data set is:
1.0

In [46]:
horse_df = pd.read_csv(r"D:\learning\data science\Datasets\machine learning datasets\Datasets\horse.csv")
horse_df.head(4)

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes

In [47]:
horse_df.dtypes

surgery                   object
age                       object
hospital_number            int64
rectal_temp              float64
pulse                    float64
respiratory_rate         float64
temp_of_extremities       object
peripheral_pulse          object
mucous_membrane           object
capillary_refill_time     object
pain                      object
peristalsis               object
abdominal_distention      object
nasogastric_tube          object
nasogastric_reflux        object
nasogastric_reflux_ph    float64
rectal_exam_feces         object
abdomen                   object
packed_cell_volume       float64
total_protein            float64
abdomo_appearance         object
abdomo_protein           float64
outcome                   object
surgical_lesion           object
lesion_1                   int64
lesion_2                   int64
lesion_3                   int64
cp_data                   object
dtype: object

In [48]:
X = horse_df.drop("outcome", axis=1)
y = horse_df["outcome"]

In [49]:
X_encoded = pd.get_dummies(X)

In [50]:
X_encoded.columns

Index(['hospital_number', 'rectal_temp', 'pulse', 'respiratory_rate',
       'nasogastric_reflux_ph', 'packed_cell_volume', 'total_protein',
       'abdomo_protein', 'lesion_1', 'lesion_2', 'lesion_3', 'surgery_no',
       'surgery_yes', 'age_adult', 'age_young', 'temp_of_extremities_cold',
       'temp_of_extremities_cool', 'temp_of_extremities_normal',
       'temp_of_extremities_warm', 'peripheral_pulse_absent',
       'peripheral_pulse_increased', 'peripheral_pulse_normal',
       'peripheral_pulse_reduced', 'mucous_membrane_bright_pink',
       'mucous_membrane_bright_red', 'mucous_membrane_dark_cyanotic',
       'mucous_membrane_normal_pink', 'mucous_membrane_pale_cyanotic',
       'mucous_membrane_pale_pink', 'capillary_refill_time_3',
       'capillary_refill_time_less_3_sec', 'capillary_refill_time_more_3_sec',
       'pain_alert', 'pain_depressed', 'pain_extreme_pain', 'pain_mild_pain',
       'pain_severe_pain', 'peristalsis_absent', 'peristalsis_hypermotile',
       'peristalsis_hypomotile', 'peristalsis_normal',
       'abdominal_distention_moderate', 'abdominal_distention_none',
       'abdominal_distention_severe', 'abdominal_distention_slight',
       'nasogastric_tube_none', 'nasogastric_tube_significant',
       'nasogastric_tube_slight', 'nasogastric_reflux_less_1_liter',
       'nasogastric_reflux_more_1_liter', 'nasogastric_reflux_none',
       'rectal_exam_feces_absent', 'rectal_exam_feces_decreased',
       'rectal_exam_feces_increased', 'rectal_exam_feces_normal',
       'abdomen_distend_large', 'abdomen_distend_small', 'abdomen_firm',
       'abdomen_normal', 'abdomen_other', 'abdomo_appearance_clear',
       'abdomo_appearance_cloudy', 'abdomo_appearance_serosanguious',
       'surgical_lesion_no', 'surgical_lesion_yes', 'cp_data_no',
       'cp_data_yes'],
      dtype='object')

In [51]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded,test_size=0.3, random_state=21)

In [59]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values= np.nan, strategy= "most_frequent")

X_train_imp = imp.fit_transform(X_train)
X_test_imp = imp.fit_transform(X_test)

In [60]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train_imp,y_train)
y_predict = dt_model.predict(X_test_imp)

In [62]:
accuracy = accuracy_score(y_test,y_predict)
print(f"prediction of decision model is {accuracy}")

prediction of decision model is 0.4777777777777778

# random forest classifier

In [64]:
from sklearn.ensemble import RandomForestClassifier
rfc_model = RandomForestClassifier(n_estimators=80)

In [65]:
rfc_model.fit(X_train_imp,y_train)

RandomForestClassifier()

In [66]:
y_test_pred_rfc = rfc_model.predict(X_test_imp)

In [71]:
accuracy_rfc = accuracy_score(y_test,y_test_pred_rfc)
print(f"accuracy score for rfc moedl is :\n{accuracy_rfc}")

accuracy score for rfc moedl is :
0.7222222222222222